Repository linzeyang/leetcode-solutions: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, sort-package-json

eslint:
  name: eslint
  language: system
  entry: bunx eslint
  args:
  - --fix
  - --max-warnings=0

sort-package-json:
  name: sort package.json
  language: system
  entry: bunx sort-package-json

Add/update solutions on August 20th, 2026
  easy/3069.py
  easy/3069.rs
  medium/3702.py
  medium/3702.rs
  medium/4014.py
  medium/4014.rs
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Add/update solutions on August 23rd, 2026
  .pre-commit-config.yaml
  easy/3622.py
  easy/3622.rs
  easy/4030.py
  easy/4030.rs
  medium/4031.py
  medium/4031.rs
Due: none

Add solutions on August 30th, 2026
  .pre-commit-config.yaml
  easy/4038.py
  easy/4038.rs
  medium/2091.py
  medium/2091.rs
  medium/4034.py
  medium/4034.rs
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Add/update solutions on September 3rd, 2026
  easy/3718.py
  easy/3718.rs
  easy/3875.rs
  medium/2058.py
  medium/2058.rs
  medium/3876.rs
Due: none

Add solutions on September 6th, 2026
  .pre-commit-config.yaml
  easy/3903.rs
  easy/4043.py
  easy/4043.rs
  medium/3904.rs
  medium/4044.py
  medium/4044.rs
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Add/update solutions on September 16th, 2026
  .pre-commit-config.yaml
  easy/3483.py
  easy/3483.rs
  easy/3870.py
  easy/3870.rs
  easy/4048.py
  medium/2265.py
  medium/4049.py
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Add/update solutions on September 20th, 2026
  .pre-commit-config.yaml
  easy/3498.py
  easy/3498.rs
  easy/4056.py
  easy/4056.rs
  medium/4057.py
  medium/4057.rs
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Add solutions on September 27th, 2026
  .pre-commit-config.yaml
  easy/4061.py
  easy/4061.rs
  easy/4065.py
  easy/4065.rs
  medium/4062.py
  medium/4062.rs
Due: none

Add solutions on October 7th, 2026
  .pre-commit-config.yaml
  easy/0020.py
  easy/4070.py
  easy/4070.rs
  package.json
  pnpm-lock.yaml
Due: sort-package-json

Migrate to oxfmt and oxlint
  .oxfmtrc.json
  .oxlintrc.json
  .pre-commit-config.yaml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint, sort-package-json

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  sort-package-json: any of: ^package\.json$
